#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.skill-control {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    margin: 20px;
}

.skill-input {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    padding: 10px 15px;
    font-size: 16px;
    width: 500px;
	border: 0 none;
}

.skill-control input[type="submit"] {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #aaaaff;
    color: #fff;
    border: none;
}

.scale-indicator {
    margin: 20px 20px;
    background-color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.scale-indicator .color-line{
    width: 600px;
    height: 20px;
    background-color: gray;
    display: inline-block;
    vertical-align: center;
}
